@import "tailwindcss";

:root {
  --gold: #C9A84C;
  --dark: #0D0D0D;
  --dark2: #1A1A1A;
  --dark3: #252525;
  --cream: #FDF6E3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark);
  color: #E8E0D0;
  font-family: 'DM Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}